/* 
    Created on : 23 ene 2024, 20:28:57
    Author     : Jus Sánchez
*/

/*#tituloPrincipal{
    color: dodgerblue;
    font-family: sans-serif;
}
.parrafoPrimario {
    color: orange;
    
}
.parrafoSecundario{
    color: green;
    font-size: 20px;
}
*/

.contenedor{
    top: 12%;
    left: 0;
    background-color: beige;
    margin: 0px;
    padding: 10px;
    position: fixed;
}

