/* 
    Created on : 23 ene 2024, 20:28:57
    Author     : Jus Sánchez
*/

#tituloPrincipal{
    color: dodgerblue;
    font-family: sans-serif;
}
.parrafoPrimario {
    color: red;
    
}
.parrafoSecundario{
    color: green;
    font-size: 20px;
}


